@tailwind base;
@tailwind components;
@tailwind utilities;



/* paleta de colores:
#222831
#31363F
#76ABAE
#eeeeee 
*/

:root {
    --color-primary: #222831;
    --color-secondary: #31363F;
    --color-tertiary: #76ABAE;
    --color-quaternary: #eeeeee;
    
    overflow-x: hidden;
}